dist/
build/
lib/
reports/
test-reports/
_vendor/*/project-mgmt
_vendor/*/xslt
download/

# configuration files
.ant-targets-build.xml
.project
.vscode
development.build.properties
zz

*.code-workspace
*.xpr
